body { width: 1000px; } 
a[href]:after { content: ''!important; }
#logoPrint { text-align: center; }
header { position: static !important; }


/*** START Slick ***/
/*** Show Only Active Slide ***/
.slick-slide {
     display: none !important;
}
.slick-slide.slick-active {
     display: block !important;
}

/*** Reset adaptiveHeight ***/
.slick-list {
     height: auto !important;
}

/*** Remove Scrollbars ***/
.slick-track {
     width: auto !important;
     height: auto !important;
     transform: none !important;
}
.slick-track .slick-slide {
     width: auto !important;
}
/*** END Slick ***/


.btn, .scroll-to-top,
#mainNavigation, #breadcrumbNavigation, #footerNavigation,
header,
#ibe,
img, .image, .feature-img, .featuredMedia,
.vizHeroImage31Widget,
.vizEmbedVideo2Widget, .viz-videoWidget,
.fullWidthParallaxWidget,
.viz-galleryWidget,
.viz-photoCarousel4Widget,
.vizADAEmail1Widget,
.viz-navigationWidget,
.viz-socialiconsadaWidget,
.viz-cookiesWidget,
footer .logo, footer .col03,
#mobileFooter
 { display: none !important; }